body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    /* background: url(../images/Pixel-wallpaper.jpg) center no-repeat;
    background-size: cover; */
}

.pricing-table {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.col {
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}

.table {
    background: #fff;
    padding: 40px 20px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px #2c3e5090;
}
.table h2{
    text-transform: uppercase;
    color: #2c3e50;
}
.table ul {
    margin: 0;
    padding: 0;
}
.table ul li {
    list-style: none;
    padding: 10px 0;
}
.price {
    font-size: 40px;
    margin-bottom: 40px;
}
.price span {
    display: block;
    font-size: 14px;
}

.table a {
    text-decoration: none;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s linear;
}
.table a:hover {
    background: #2c3e50;
    color: #fff;
}

.pop {
    background: #2c3e50;
    color: #fff;
    transform: rotate(45deg);
    padding: 10px 40px;
    position: absolute;
    top: 16px;
    right: -34px;
}

@media screen and (max-width:980px) {
    .col {
        flex: 50%;
    }
}

@media screen and (max-width:540px) {
    .col {
        flex: 100%;
    }
}


footer {
    padding: 40px;
    text-align: center;
    color: #2c3e50;
    background: #ccc;
}
footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 5px;
}

footer ul li a {
    text-decoration: none;
    color: #2c3e50;
    padding: 5px 10px;
    border: 1px solid #2c3e50;
    border-radius: 50%;
    transition: 0.5s linear;
}

footer ul li a:hover {
    background: #2c3e50;
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    padding: 25px;
    background: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo a i {
    font-size: 50px;
}
.menu {
    position: relative;
    top: 30px;
}
.menu ul li {
    display: inline-block;
    text-transform: uppercase;
    
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-bottom: 4px solid transparent;
}

.menu ul li a:hover {
    border-bottom: 4px solid #fff;
}

.menu ul li:hover ul.sub-menu{
    display: block;
}

ul.sub-menu {
    margin-top: 8px;
    padding: 5px 20px;
    display: none;
    background: #2c3e50;
    position: absolute;
    z-index: 1;
}
ul.sub-menu li {
    display: block;
    padding: 10px 0;
}
ul.sub-menu li a {
    padding: 10px 0;
}

.banner {
    height: 600px;
    position: relative;
    top: 0;
    margin: 20px 0;
    background: url(../images/banner-1.jpg) no-repeat;
    background-size: cover;
}

.banner-text {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 200px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
}

.banner-text .content {
    padding: 10px 20px;
    width: 500px;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    background: #00000090;
    border-radius: 10px;
    margin-bottom: 35px;
}
.banner-text div a {
    border-radius: 10px;
}
.view-portfolio {
    display: inline-block;
    width: 300px;
}
.view-portfolio a {
    padding: 20px 40px;
    position: relative;
    right: 23px;
    background: #00000090;
}
.contact-us {
    display: inline-block;
    width: 250px;
}
.contact-us a {
    padding: 20px 40px;
    position: relative;
    left: 10px;
    background: #00000090;
}
.banner-text a:hover {
    background: #fff;
    color: #000;
}

.contact {
    height: 600px;
    padding: 10px 0;
    background: #2c3e50;
}
.contact-us-form{
    width: 250px;
    background: #fff;
    padding: 50px;
    margin: 50px auto;
    border-radius: 30px;
    position: relative;
  }
  
  .title h1{
    color: #535274;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
  }
  
  .form,
  .form-items{
    width: 100%;
  }
  
  .form-items .input{
    width: 100%;
    margin-bottom: 12px;
    padding: 15px 40px;
    box-sizing: border-box;
    background: #ebeef1;
    border: 0px;
    outline: none;
    border-radius: 30px;
  }

  .form-items i {
    position: absolute;
    top: 14px;
    left: 15px;
    color: #989595;
  }
  
  .form-items .input.message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
  }
  
  .btn{
    background: #535274;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
  }
  
  .btn .fa{
    margin-left: 10px;
    font-size: 12px;
  }
  
  .form-items{
    position: relative;
  }
  
  .form-items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
  }
  
  .social-icons{
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 200px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
  }
  
  .social-icons div{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
  }
  
  
  .social-icons div .fa{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
  }
  
  .social-icons div.facebook{
    background: #5178d9;
  }
  
  .social-icons div.twitter{
    background: #41caf6;
  }
  
  .social-icons div.google{
    background: #fb4f4f;
  }

  .about-me-section {
      height: 580px;
      background: #535274;
  }

  .about-me {
      display: flex;
      padding: 40px;
      justify-content: space-around;
  }

  .img-sec {
      padding: 20px;
      background: #00000080;
      border-radius: 20px;
      box-shadow: 0 0 50px #2c3e50;
  }
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      position: relative;
      padding: 40px;
      width: 300px;
      background: #2c3e50;
      color: #fff;
      border-radius: 20px;
      box-shadow: 0 0 50px #2c3e50;
  }

  .text-content h2 {
      font-size: 32px;
  }
  .text-content p {
      line-height: 1.5;
      letter-spacing: 1px;
  }


  .view-profile a {
      display: block;
    text-decoration: none;
    color: #2c3e50;
    background: #fff;
    border: 2px solid #2c3e50;
    text-align: center;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s linear;
  }

  .view-profile a:hover {
      background: #535274;
      color: #fff;
  }