body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    /* background: url(../images/Pixel-wallpaper.jpg) center no-repeat;
    background-size: cover; */
}

.pricing-table {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}
.col {
    flex: 25%;
    padding: 10px;
    max-width: 320px;
    box-sizing: border-box;
}

.table {
    background: #fff;
    padding: 40px 20px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px #2c3e5090;
}
.table h2{
    text-transform: uppercase;
    color: #2c3e50;
}
.table ul {
    margin: 0;
    padding: 0;
}
.table ul li {
    list-style: none;
    padding: 10px 0;
}
.price {
    font-size: 40px;
    margin-bottom: 40px;
}
.price span {
    display: block;
    font-size: 14px;
}

.table a {
    text-decoration: none;
    color: #2c3e50;
    border: 2px solid #2c3e50;
    display: block;
    padding: 10px 0;
    margin: 10px 0;
    border-radius: 40px;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.5s linear;
}
.table a:hover {
    background: #2c3e50;
    color: #fff;
}

.pop {
    background: #2c3e50;
    color: #fff;
    transform: rotate(45deg);
    padding: 10px 40px;
    position: absolute;
    top: 16px;
    right: -34px;
}

@media screen and (max-width:980px) {
    .col {
        flex: 50%;
    }
}

@media screen and (max-width:540px) {
    .col {
        flex: 100%;
    }
}


footer {
    padding: 40px;
    text-align: center;
    color: #2c3e50;
    background: #ccc;
}
footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
    padding: 0 5px;
}

footer ul li a {
    text-decoration: none;
    color: #2c3e50;
    padding: 5px 10px;
    border: 1px solid #2c3e50;
    border-radius: 50%;
    transition: 0.5s linear;
}

footer ul li a:hover {
    background: #2c3e50;
    color: #fff;
}

a {
    color: inherit;
}

header {
    padding: 25px;
    background: #2c3e50;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.logo a i {
    font-size: 50px;
}
.menu {
    position: relative;
    top: 30px;
}
.menu ul li {
    display: inline-block;
    text-transform: uppercase;
    
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    border-bottom: 4px solid transparent;
}

.menu ul li a:hover {
    border-bottom: 4px solid #fff;
}

.menu ul li:hover ul.sub-menu{
    display: block;
}

ul.sub-menu {
    margin-top: 10px;
    padding: 5px 20px;
    display: none;
    background: #2c3e50;
    position: absolute;
    z-index: 1;
}
ul.sub-menu li {
    display: block;
    padding: 10px 0;
}
ul.sub-menu li a {
    padding: 10px 0;
}